.navigation {

	transform: translateX(-100%);
	transition: all .45s;
	width: 100%;

	@include if-above("md") {
		transform: translateX(0);
		width: 250px;
	}

	&.is-open {
		transform: translateX(0);
	}


	background-color: white;
	left: 0;
	position: fixed;
	top: 60px;
	display: flex;
	flex-direction: column;
	height: 100vh;
	overflow: scroll;
	z-index: 2;
	border-right: 1px solid colors("keylines", "light");

	.navigation-link {
		padding: sizes(3);
	}

	.navigation-section {
		padding: sizes(5);

		.navigation-section-title {
			@include uppercase(0.1em);
			font-size: 12px;
			font-weight: 600;
			display: flex;
			color: #3c4857;
			align-items: center;
			margin-bottom: sizes(2);

			.navigation-section-add {

				padding: 3px;
				display: inline-block;
				position: relative;
				right: -8px;
				border-radius: 3px;
				margin-left: auto;
				cursor: pointer;
				// background-color: colors("greyscale", 100);
				border: 1px solid colors("keylines", "light");


				svg {
					@include square(15px);
				}

				&:hover {
					background-color: colors("primary");
					color: white;
				}
			}
		}
	}

	.navigation-primary-links {

	}


	.navigation-links {
		@include no-bullet;
		// border-bottom: 1px solid colors("keylines", "light");
		// margin-bottom: sizes(2);

		li {
			font-size: 16px;
			// opacity: 0.7;
			border-radius: 3px;

			&:hover {
				color: colors("primary");
			}
			
			&:not(:last-of-type) {
				margin-bottom: sizes(3);
			}

			svg {
				@include square(14px);
				position: relative;
				// top: -1px;
				margin-right: sizes(1);
			}
		}
	}

	.navigation-category-arrow {
		@include square(15px);
		margin-left: auto;
	}


	.navigation-categories {
		@include no-bullet;
		flex: 1;
		overflow: scroll;
		// border-bottom: 1px solid colors("keylines", "light");
		// padding: 0 sizes(6);


		li {
			font-size: 14px;
			display: flex;
			align-items: center;
			// flex-direction: column;
			// padding: 8px 0;
			// opacity: 0.7;

			.icon {
				@include square(15px);
				position: relative;
				top: -1px;
				margin-right: sizes(1);
			}

			&:hover {
				cursor: pointer;
				opacity: 1;
			}

			&.is-open {

				color: colors("primary");

				& + .navigation-sub-categories {
					display: block;
				}
				
			}
		}
	}

	.navigation-category-count {
		// float: right;
		color: grey;
		font-size: 11px;
		margin-left: auto;
	}

	.navigation-sub-categories {
		@include no-bullet;
		display: none;

		li {
			padding-left: sizes(9);
		}
	}
}
